body{
  text-align: center;
}

ul {
    
    list-style-type: none;
    

  }


li{
    display: inline-block;
    padding-right: 5em;
 
    
      
}

img {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}


